/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  /* Estilos para el encabezado, utilizando el color azul */
  header {
    background-color: #538AF4;
    padding: 20px;
    color: #FFFFFF;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilos para las celdas de la tabla */
  td, th {
    padding: 10px;
    border: 1px solid #D9D9D9;
  }
  
  /* Estilos para la cabecera de la tabla */
  thead {
    background-color: #538AF4;
    color: #FFFFFF;
  }
  
  /* Estilos para las filas impares de la tabla */
  tbody tr:nth-child(odd) {
    background-color: #D9D9D9;
  }
  
  /* Estilos para el campo de entrada 'Curso' */
  input#curso {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  /* Estilos para el combo de profesores */
  #combo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  /* Estilos para el campo de entrada 'Grupo' */
  input#grupo {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  /* Estilos para el botón 'Agregar' */
  button#nueva {
    background-color: #77BE30;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilos adicionales según necesidades específicas */
  