/* Añade estos estilos a tu NavbarAdmin.css */

/* Estilos para el Navbar */
nav {
    background-color: #2196F3; /* Color de fondo del Navbar (azul) */
    padding: 10px;
  }
  
  /* Estilos para los enlaces en el Navbar */
  nav span {
    margin-right: 15px; /* Espaciado entre los elementos del Navbar */
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Cambia el color del enlace al pasar el ratón sobre él */
  nav span:hover {
    color: #0d47a1; /* Azul más oscuro al pasar el ratón sobre el enlace */
  }
  
  /* Estilos para el botón de cerrar sesión */
  nav span#cerrar-sesion {
    cursor: pointer;
    color: #ff5252; /* Rojo claro para el botón de cerrar sesión */
  }
  
  /* Cambia el color del botón al pasar el ratón sobre él */
  nav span#cerrar-sesion:hover {
    color: #c50c0c; /* Rojo oscuro al pasar el ratón sobre el botón */
  }
  